<div class="baris">
    <article id="fitur">
        <div class="baris">
            <div class="zeen-3">
                <h2>Consulting</h2>
                <p>Layanan konsultasi untuk berbagai permasalahan IT, pengembangan sistem, web, network, hotspot, security.L</p>
            </div>
            <div class="zeen-3">
                <h2>Analysis</h2>
                <p>Analisa sistem untuk kebutuhan IT sehingga hasilnya dapat optimal.Analisa sistem untuk kebutuhan IT sehingga hasilnya dapat optimal</p>
            </div>
            <div class="zeen-3">
                <h2>Strategy</h2>
                <p>Kebutuhan strategi dengan ide-ide baru dan segar diperlukan untuk kebutuhan IT anda.</p>
            </div>
            <div class="zeen-3">
                <h2>Sevices</h2>
                <p>Kami juga memberikan service untuk memastikan perangkat-perangkat anda berjalan dengan optimal.</p>
            </div>
        </div> 
    </article><!-- #fitur -->
</div> 