<h1>
    IT Development
</h1>
<div class="baris">
    <img src="img/itdev.jpg" alt="Website Development">
</div>
</div>
<div class="baris">
    <div class="zeen-9">
        <p>
            Perkembangan IT telah berkembang dengan pesat sehingga menuntut kreatifitas dalam pengembangan IT yang lebih jauh.
        </p>
        <p>
            Kami memberikan pilihan pengembangan di bidang IT.
            <ul>
                <li>Sistem Development</li>
                <li>Computer Network Development</li>
                <li>Internet Hotspot Development</li>
                <li>Web Development</li>
                <li>Computer Security Development</li>
            </ul>
        </p>
    </div>
    <div class="zeen-3">
        <h2>Why Choose Us!</h2>
        <dl>
            <dt>Pilihan platform banyak </dt>
            <dd>Windows, Linux, Mikrotik, openwrt, dll.</dd>
            <dt>Kecepatan Pengerjaan</dt>
            <dd>Kecepatan adalah nilai tambah kami</dd>
            <dt>Bekerja sama dengan partner</dt>
            <dd>Kami mempunyai partner untuk sistem yang kompleks.</dd>
            <dt>Konsultasi Gratis</dt>
            <dd>Konsultasi tidak dipungut biaya alias gratis .</dd>
        </dl>
    </div>
</div>