<h2>Halaman Kontak</h2>


<form action="#">
	<input type="text" placeholder="nama" required>
	<br >
	<input type="email" placeholder="email" required>
	<br >
	<input type="text" placeholder="judul pesan" required>
	<br >
	<input type="textarea" placeholder="pesan" required>
	<br >
	<label for="cek">5+3 = </label>
	<input type="text"id="cek" required>hanya memastikan bahwa anda manusia
	<br >
	<button>Kirim</button>
</form>