<nav>
    <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/web">Web Dev</a></li>
        <li><a href="/it">IT Dev</a></li>
        <li><a href="/kontak">Kontak</a></li>
    </ul>  
</nav>
