<h2>Web Development</h2>
<div class="baris">
    <div class="zeen-3">
        <h2>Web Sistem Informasi</h2>
        <p>
            Pembuatan website sistem informasi
        </p>
    </div>
    <div class="zeen-3">
        <h2>ata Web Profile</h2>
        <p>
            Pembuatan web profile
        </p>
    </div>
    <div class="zeen-3">
        <h2>
            Kebutuhan Sistem    
        </h2>
        <p>
            Untuk melayani kebutuhan sistem anda
        </p>
    </div>
    <div class="zeen-3">
        <h2>Keinginan sistem</h2>
        <p>
            Untuk melayani keinginan sistem anda
        </p>
    </div>
</div>